@tailwind base;
@tailwind components;
@tailwind utilities;


.letter-space-5{
    letter-spacing: 5px;
}

.letter-space-10{
    letter-spacing: 10px;
}

.tns-nav{
    @apply hidden
}

.tns-outer{
    @apply col-span-3 relative
}

.tns-controls button:first-child{
    @apply absolute z-10 bottom-[50%] left-[-3%]
}

.tns-controls button:last-child{
    @apply absolute z-10 bottom-[50%] right-[-3%]
}

.tns-controls button i{
    @apply text-[1.5rem]
}


.d-transition{
    @apply transition delay-150 duration-300 ease-in-out
}

.team-p-hover:hover div{
    @apply block
}

.remove-i:hover i{
    @apply hidden transition ease-in-out delay-150
}

.toggleMenu span{
    @apply w-[30px] h-[3px] mb-2 bg-dark block
}


.toggleMenu.open span:nth-child(1){
    transition: 0.5s ease-in-out;
    transform: translate(-2px, 9.5px) rotate(45deg);
}
.toggleMenu.open span:nth-child(2){
    opacity: 0;
    transition: 0s;
}
.toggleMenu.open span:nth-child(3){
    transition: 0.5s ease-in-out;
    transform: translate(-2px, -12px) rotate(-45deg);
}